.header {
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
    width: 1400px;
}

.nav-header {
    display: inline-block;

    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;

}

.header-text a {
    text-decoration: none;
    color: #000;

}

.header-text {
    padding-right: 72px;
    display: inline;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 24.3px)
        /* 24.3px */
}

.logo {
    display: block;
    width: 1400px;
    height: 552px;



}

.photo {

    margin: 0px auto;
    background-color: #00BDC9;
    width: 599px;
    height: 368px;
    flex-shrink: 0;

    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center
}

.logo-text {
    color: #FAFAFA;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: calc(115% * 55.2px);

}

.content-div {
    text-align: center;
    width: 1400px;

    display: inline-block;
    padding: 88px 0;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(135% * 64.8px);
    /* 64.8px */

}

.text-div {
    width: 856px;
    align-self: stretch;
    padding-top: 40px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.paragraph {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #161616;
    align-items: flex-start;
    gap: 24px;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(150% * 31.5px);

}

.text-div span {

    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.note {
    align-self: start;
    padding-top: 24px;
    margin: 0 auto;
    text-align: start;

    gap: 24px;
    width: 856px;
    height: 351px;

}

.note-li {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    align-items: flex-start;
    line-height: calc(150% * 27px);
    /* 27px */

}

.button {
    display: block;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    margin: 0 auto;




}

.text-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(135% * 24.3px);
    /* 24.3px */

}

.line {

    height: 1px;
    align-self: stretch;
    background: #161616;

}

.footer {
    display: block;
    width: 1400px;
    padding: 16px 0;
    align-self: stretch;
    text-align: center;
    align-items: center;


    margin: 10 auto;

}

.footer-text {



    width: 146px;
    align-self: stretch;
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 27px)
}